[Desktop Entry]
Name=Epic Games Launcher
Exec=env WINEPREFIX="/home/combatrickshaw/Games/epic-games" wine C:\\\\users\\\\combatrickshaw\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Epic\\ Games\\ Launcher.lnk
Type=Application
StartupNotify=true
Comment=Launch the Epic Games Launcher
Path=/home/combatrickshaw/Games/epic-games/dosdevices/c:/Program Files (x86)/Epic Games/
Icon=ED2E_EpicGamesLauncher.0
StartupWMClass=epicgameslauncher.exe
