[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/xml;
Exec=env WINEPREFIX="/home/combatrickshaw/Games/pirated/grand-theft-auto-v" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=81F5_winebrowser.0
