[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/x-mswrite;
Exec=env WINEPREFIX="/home/combatrickshaw/Games/pirated/grand-theft-auto-v" wine start /ProgIDOpen wrifile %f
NoDisplay=true
StartupNotify=true
Icon=3365_wordpad.0
